<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% stylesheets '@SiteFrontBundle/Resources/public/less/bootstrap.less' %}
            <link href="{{ asset_url}}" rel= "stylesheets" media="screen" />
        {% endstylesheets %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
